In [1]:
#Tipos diferentes de conectores
# mysqlconnector -  pip install mysql-connector-python
# pymysql -  pip install pymysql
# mysqldb -  pip install MySQL-python  ou pip install mysqlclient

In [2]:
from sqlalchemy import create_engine,text

#Conexão
eng = create_engine("mysql+pymysql://root:1022@localhost/python")
conn = eng.connect()

query = text("""  
    SELECT 
        `c`.`name` AS `category`, SUM(`p`.`amount`) AS `total_sales`
    FROM
        (((((`sakila`.`payment` `p`
        JOIN `sakila`.`rental` `r` ON ((`p`.`rental_id` = `r`.`rental_id`)))
        JOIN `sakila`.`inventory` `i` ON ((`r`.`inventory_id` = `i`.`inventory_id`)))
        JOIN `sakila`.`film` `f` ON ((`i`.`film_id` = `f`.`film_id`)))
        JOIN `sakila`.`film_category` `fc` ON ((`f`.`film_id` = `fc`.`film_id`)))
        JOIN `sakila`.`category` `c` ON ((`fc`.`category_id` = `c`.`category_id`)))
    GROUP BY `c`.`name`
    ORDER BY `total_sales` DESC
""")
resultado = conn.execute(query)

# ver linhas
for row in resultado:
    print(row)

conn.close()
eng.dispose()

('Sports', Decimal('5314.21'))
('Sci-Fi', Decimal('4756.98'))
('Animation', Decimal('4656.30'))
('Drama', Decimal('4587.39'))
('Comedy', Decimal('4383.58'))
('Action', Decimal('4375.85'))
('New', Decimal('4351.62'))
('Games', Decimal('4281.33'))
('Foreign', Decimal('4270.67'))
('Family', Decimal('4226.07'))
('Documentary', Decimal('4217.52'))
('Horror', Decimal('3722.54'))
('Children', Decimal('3655.55'))
('Classics', Decimal('3639.59'))
('Travel', Decimal('3549.64'))
('Music', Decimal('3417.72'))

Transformar em DF

In [4]:
from sqlalchemy import create_engine,text
import pandas as pd

#Conexão
eng = create_engine("mysql+pymysql://root:1022@localhost/python")
cursor = eng.connect()

query = text("""  
    SELECT* from python.customers
""")

df_clientes= pd.read_sql(query,eng)

conn.close()
eng.dispose() 

df_clientes.head()

Empty DataFrame
Columns: [customer_id, first_name, last_name, phone, email, street, city, state, zip_code, customerscol]
Index: []

In [6]:
from sqlalchemy import create_engine,text
import pandas as pd

eng = create_engine("mysql+mysqldb://root:1022@localhost/python")
cursor = eng.connect()

query = text("""  
    SELECT* from python.customers
""")

df_clientes= pd.read_sql(query,eng)

cursor.close()
eng.dispose() 

df_clientes.head()

Empty DataFrame
Columns: [customer_id, first_name, last_name, phone, email, street, city, state, zip_code, customerscol]
Index: []