In [1]:
from pymongo import MongoClient
import pandas   as pd 
pd.set_option('display.max_columns', None)  

client = MongoClient('mongodb+srv://user_Engenharia:1022@cluster0.haxoe.mongodb.net/')
db = client['Aula']
colletion= db.get_collection('anac')

filter={'$and':[{'UF':'MG'},{'Classificacao_da_Ocorrência':'Acidente'}]}
columns ={'Numero_da_Ocorrencia':1,'Classificacao_da_Ocorrência':1,'UF':1,'PSSO':1}

data = list(colletion.find(filter,columns))
df = pd.DataFrame(data)
df.head(5)

,_id,Numero_da_Ocorrencia,Classificacao_da_Ocorrência,UF,PSSO
0,67b3fc07010f2554c8cfd491,7759,Acidente,MG,verdadeiro
1,67b3fc07010f2554c8cfd4a8,7516,Acidente,MG,falso
2,67b3fc07010f2554c8cfd4b1,7511,Acidente,MG,verdadeiro
3,67b3fc07010f2554c8cfd519,7208,Acidente,MG,verdadeiro
4,67b3fc07010f2554c8cfd579,7703,Acidente,MG,verdadeiro

In [2]:
from pymongo import MongoClient
import pandas   as pd 
pd.set_option('display.max_columns', None)  

client = MongoClient('mongodb+srv://user_Engenharia:1022@cluster0.haxoe.mongodb.net/')
db = client['Aula']
colletion= db.get_collection('anac')

filter={'$or':[{'UF':'GO'},{'PSSO':'verdadeiro'}]}
columns ={'Numero_da_Ocorrencia':1,'Classificacao_da_Ocorrência':1,'UF':1,'PSSO':1}

data = list(colletion.find(filter,columns))
df = pd.DataFrame(data)
df.head(35)

,_id,Numero_da_Ocorrencia,Classificacao_da_Ocorrência,UF,PSSO
0,67b3fc07010f2554c8cfd490,7762,Incidente,SP,verdadeiro
1,67b3fc07010f2554c8cfd491,7759,Acidente,MG,verdadeiro
2,67b3fc07010f2554c8cfd492,7758,Acidente,GO,verdadeiro
3,67b3fc07010f2554c8cfd493,7758,Acidente,GO,verdadeiro
4,67b3fc07010f2554c8cfd494,7757,Incidente Grave,RS,verdadeiro
5,67b3fc07010f2554c8cfd496,5118,Acidente,ES,verdadeiro
6,67b3fc07010f2554c8cfd499,7754,Incidente Grave,SP,verdadeiro
7,67b3fc07010f2554c8cfd49a,7754,Incidente Grave,SP,verdadeiro
8,67b3fc07010f2554c8cfd49b,7753,Acidente,SP,verdadeiro
9,67b3fc07010f2554c8cfd49d,5665,Acidente,Indeterminado,verdadeiro
10,67b3fc07010f2554c8cfd49f,7526,Incidente,MG,verdadeiro
11,67b3fc07010f2554c8cfd4a1,7524,Ocorrência de Solo,RJ,verdadeiro
12,67b3fc07010f2554c8cfd4a2,7523,Incidente,SP,verdadeiro
13,67b3fc07010f2554c8cfd4a3,7522,Acidente,RR,verdadeiro
14,67b3fc07010f2554c8cfd4a5,7520,Incidente,SP,verdadeiro
15,67b3fc07010f2554c8cfd4a6,7519,Incidente,PR,verdadeiro
16,67b3fc07010f2554c8cfd4a7,7518,Incidente,PR,verdadeiro
17,67b3fc07010f2554c8cfd4a9,7514,Incidente,SC,verdadeiro
18,67b3fc07010f2554c8cfd4aa,7517,Incidente,PE,verdadeiro
19,67b3fc07010f2554c8cfd4ab,7515,Incidente Grave,MT,verdadeiro
20,67b3fc07010f2554c8cfd4ac,7229,Incidente,RJ,verdadeiro
21,67b3fc07010f2554c8cfd4ad,7228,Incidente,SP,verdadeiro
22,67b3fc07010f2554c8cfd4ae,7227,Ocorrência de Solo,RJ,verdadeiro
23,67b3fc07010f2554c8cfd4af,7513,Incidente,PR,verdadeiro
24,67b3fc07010f2554c8cfd4b1,7511,Acidente,MG,verdadeiro
25,67b3fc07010f2554c8cfd4b2,7510,Incidente,MG,verdadeiro
26,67b3fc07010f2554c8cfd4b3,7236,Incidente,MG,verdadeiro
27,67b3fc07010f2554c8cfd4b5,7234,Incidente,BA,verdadeiro
28,67b3fc07010f2554c8cfd4b6,7233,Acidente,MS,verdadeiro
29,67b3fc07010f2554c8cfd4b7,7232,Acidente,AM,verdadeiro
30,67b3fc07010f2554c8cfd4b8,7231,Incidente,SC,verdadeiro
31,67b3fc07010f2554c8cfd4b9,7230,Incidente,ES,verdadeiro
32,67b3fc07010f2554c8cfd4ba,7226,Incidente,MG,verdadeiro
33,67b3fc07010f2554c8cfd4bb,7225,Acidente,GO,falso
34,67b3fc07010f2554c8cfd4bc,7224,Acidente,SP,verdadeiro