In [1]:

import pandas as pd
import pyodbc 

server = 'localhost' # Substitua pelo nome do servidor SQL Server
database = 'Python'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando '

In [2]:
Categoria= pd.read_sql('select * from categoria',conexaoDB)
Categoria.head()

C:\Users\Note reserva\AppData\Local\Temp\ipykernel_10024\3918885847.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Categoria= pd.read_sql('select * from categoria',conexaoDB)

   ID Categoria
0   0         0
1   1         1
2   2         2
3   3         3
4   4         4

In [3]:
Query='select * from categoria'
Categoria2=pd.read_sql(Query,conexaoDB)
Categoria2.head()

C:\Users\Note reserva\AppData\Local\Temp\ipykernel_10024\188542646.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Categoria2=pd.read_sql(Query,conexaoDB)

   ID Categoria
0   0         0
1   1         1
2   2         2
3   3         3
4   4         4